# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Entornos virtuales
venv/
.env
.venv

# Audios y archivos generados
audios/
*.mp3
*.wav
*.mp4

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración local
.env.local
